{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>BONJOUR CatBot sous PhpStorm - </span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            <div id="status">
                <p>
                    Application at: <code>{{ base_dir }}</code>
                </p>
            </div>



        </div>
    </div>

    <a href="{{ path('map') }}" class="pure-button">Localiser une observation </a>
{% endblock %}

{% block stylesheets %}

{% endblock %}
